$color-primary: #274690;
$color-primary-light: #576da8;
$color-primary-dark: #1b264f;

$color-grey-dark: #302b27;
$color-white: #f5f3f5;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
}

.footer-container {
  height: 100px;
  background-color: rgba($color-primary-dark, 0.8);
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .footer-text {
    text-align: center;
    @media screen and (max-width: 768px) {
      font-size: 10px;
      padding: 2px;
      margin-right: 10px;
      margin-left: 10px;
    }
  }
}
